
    body {
            background-color: #f8f9fa;
        }
        .navbar {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
        .container {
            margin-top: 50px;
        }
        .video-background {
            width: 100%;
            height: 400px; /* Set the height of the video here */
            object-fit: cover; /* Ensure the video covers the entire container */
        }
        .nav-link:hover {
            color: orange !important; /* Change text color on hover */
        }
        .nav-link.btn {
            border-radius: 5px; /* Add rounded corners to buttons */
        }

        .modal-content {
            background-color: #fff; /* Set modal content background color */
            color: #000; /* Set modal content text color */
        }
        .modal-content.dark {
            background-color: #000; /* Set modal content background color for dark theme */
            color: #fff; /* Set modal content text color for dark theme */
        }